# 1. Discuss string slicing and provide examples.

Ans : String slicing in Python is a technique for extracting substrings or subsections from a larger string. Python's slicing syntax is both powerful and flexible, allowing for various ways to extract and manipulate string data.
String slicing in Python provides a concise way to extract and manipulate substrings. By using the start, end, and step indices

In [18]:
text = "My name is Rajkumar Thakare."
string = text[11:27]
print(string)

Rajkumar Thakare

In [23]:
text = "My name is Rajkumar Thakare."
string = text[20:]
print(string)

Thakare.

In [21]:
text = "My name is Rajkumar Thakare."
string = text[:20]
print(string)

My name is Rajkumar

In [32]:
#Using Negative Indices
text = "Shaktiman is a superman."
substring = text[-9:-1]
print(substring)

superman

In [14]:
#Slicing with Step
text = "I am a superman"
string = text[::4]
print(string)

I um

In [15]:
text = "Shaktiman is a superman"
string = text[:5]
print(substring)

Shakt

In [25]:
#Slicing with Step

text = "Shaktiman is a superman"
substring = text[::2]
print(substring)

Satmni  uemn

In [24]:
#Slicing with Negative Step
text = "Shaktiman is a superman"
substring = text[::-1]
print(substring)

namrepus a si namitkahS

# Explain the key features of lists in Python.
Ans : Lists
Description: Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
Operations: You can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

In [34]:
 # ordered collection:
city = ["nagpur", "chandrapur", "raipur"]
print(city[2])

raipur

In [37]:
# mutable collections:

city = ["nagpur", "chandrapur", "raipur", "Nashik"]
city[2] = "Hyderabad"
print(city)

['nagpur', 'chandrapur', 'Hyderabad', 'Nashik']

In [42]:
# add or remove elements

city = ["nagpur", "chandrapur", "raipur", "Nashik"]
city.append("Delhi")
print(city)

['nagpur', 'chandrapur', 'raipur', 'Nashik', 'Delhi']

In [44]:
# Mixed Data 
city = ["nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik"]
print(city[2])

[6, (3+2j), 50]

In [46]:
# To extract a portion of the list using slicing:

city = ["nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik"]
sub = city [2:5]
print(sub)

[[6, (3+2j), 50], 'raipur', 'Nashik']

In [53]:
#  Iteration:

cities = ["nagpur", "chandrapur", "raipur", "Nashik"]
for city in cities:
    print(city)

nagpur
chandrapur
raipur
Nashik

In [57]:
# List Comprehensions

squares = [y**2 for y in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

# 3. Describe how to access, modify and delete elements in a list with examples.
Ans : 1. Accessing Elements
Accessing elements in a list involves using indexing. Python lists are zero-indexed, so the first element is at index 0, the second at index 1, and so on.

In [2]:
## Access the last element using negative indexing
city = ["nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik"]
print(city[-4])

chandrapur

In [3]:
## Access a slice of the list (elements from index 1 to 2)
city = ["nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik"]
print(city[1:3])

['chandrapur', [6, (3+2j), 50]]

### 2. Modifying Elements
Ans: Modifying elements involves assigning new values to specific indices. Since lists are mutable, we can change their content directly.

In [9]:
# Define a list
numbers = [1, 2, 3, 4, 5]

# Modify the element at index 2
numbers[2] = 12
print(numbers)

[1, 2, 12, 4, 5]

In [12]:
# Modify a slice of the list (elements from index 1 to 3)
numbers = [5,10,15,20,30]
print(numbers[1:4])

[10, 15, 20]

In [13]:
# Append a new element at the end
numbers = [5,10,15,20,30]
numbers.append(6)
print(numbers)

[5, 10, 15, 20, 30, 6]

## 3. Deleting element

In [14]:
## Delete an element by index using `del`
numbers = [5,10,15,20,30]
del numbers[1]
print(numbers)

[5, 15, 20, 30]

In [15]:
##  Delete an element by index using `pop()`
numbers = [5,10,15,20,30]
print(numbers.pop())

30

In [30]:
## Delete an element by value using `remove()`

city = ["nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik"]
city.remove("chandrapur")
print(city)

['nagpur', [6, (3+2j), 50], 'raipur', 'Nashik']

 # 4. Compare and contrast tuples and lists with examples.

In [ ]:

# Lists: Mutable. You can change, add, or remove elements after the list is created.
numbers = [5,10,15,20,30]
(numbers[2])= 45
print(numbers)

In [4]:
# Append a new element at the end
numbers = [5,10,15,20,30]
numbers.append(8)
print(numbers)

[5, 10, 15, 20, 30, 8]

In [5]:
# Delete an element by value using `remove()`

city = ["nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik"]
city.remove("raipur")
print(city)

['nagpur', 'chandrapur', [6, (3+2j), 50], 'Nashik']

In [7]:
# Tuples: Tuples: Defined with parentheses ().
#Immutable. Once created, you cannot modify, add, or remove elements.

numbers = (5,10,15,20,30)
numbers[2]= 45
print(numbers)

TypeError: 'tuple' object does not support item assignment

In [10]:
city = ("nagpur", "chandrapur", [6, 3+2j , 50], "raipur", "Nashik")
city.remove("raipur")
print(city)

AttributeError: 'tuple' object has no attribute 'remove'

In [11]:
numbers = (5,10,15,20,30)
numbers.append(8)
print(numbers)

AttributeError: 'tuple' object has no attribute 'append'

 # Summary
Mutability: Lists are mutable; tuples are immutable.
Syntax: Lists use []; tuples use ().
Performance: Tuples are generally faster and more memory-efficient.
Use Cases: Lists for mutable collections; tuples for immutable, fixed collections.
Methods: Lists have a wider range of methods for modification; tuples have limited methods due to immutability.

# 5. Describe the key features of sets and provide examples of their use.

ans : Sets in Python are a powerful and versatile data structure used for storing collections of unique items. They are built-in data types that offer several key features and operations.

In [ ]:
# Key Features of Sets
Unique Elements

Sets automatically ensure that all elements are unique. Duplicate elements are not allowed and are discarded.

In [16]:
# Define a set with duplicate elements
set_1 = {2,15,30,15,12,12,20,30}
print(set_1)

{2, 20, 12, 30, 15}

In [19]:
# Unordered Collection

'''Sets are unordered collections, which means that the elements do not have a specific order and cannot be accessed by an index.'''
set_1 = {2,15,30,15,12,12,20,30}
print(set_1)

{2, 20, 12, 30, 15}

In [ ]:
# Mutable

Sets are mutable, meaning you can add or remove elements after the set has been created.

In [21]:
set_1 = {2,15,30,15,12,12,20,30}
set_1.add(4)
print(set_1)

{2, 20, 4, 12, 30, 15}

In [22]:
set_1 = {2,15,30,15,12,12,20,30}
set_1.remove(30)
print(set_1)

{2, 20, 12, 15}

In [ ]:
# Set Operations

Sets support a range of mathematical set operations such as union, intersection, difference, and symmetric difference.

In [23]:
# Union (elements in either set)
set_1 = {2,15,30,15,12,12,20,30}
set_2 = {12,15,20,30,40,60,80}
print(set_1 | set_2)

{2, 40, 12, 15, 80, 20, 60, 30}

In [24]:
# Intersection (elements in both sets)
print(set_1 & set_2)

{20, 12, 30, 15}

In [25]:
# Difference (elements in set_a but not in set_b)
print(set_1 - set_2)

{2}

In [26]:
# Symmetric Difference (elements in either set but not in both)
print(set_1 ^ set_2)

{80, 2, 40, 60}

#Set Comprehensions

Similar to list comprehensions, you can create sets using set comprehensions to generate sets based on some condition or transformation.

In [27]:
squares = {x**2 for x in range(4)}
print(squares)

{0, 1, 4, 9}

# Immutable Sets (frozenset)

Python provides an immutable version of a set called frozenset. Frozensets are hashable and can be used as dictionary keys or set elements, but they cannot be modified after creation.

In [28]:
# Create a frozenset
frozen_set = frozenset([2,15,30,15,12,12,20,30])
print(frozen_set)

frozenset({2, 12, 15, 20, 30})

# 6. Discuss the use cases of tuples and sets in Python programming.

ans : Tuples and sets in Python serve distinct purposes and are used in different scenarios due to their unique properties.

# Use Cases of Tuples
Immutable Data Collection

Tuples are ideal for grouping data that should not be modified. This immutability guarantees that the data remains constant and protects it from accidental changes.

In [ ]:
# Example: Representing a coordinate point where the values should not change.
coordinate = (56.66, -74.0060) 
print(coordinate)

(56.66, -74.006)

# Unpacking Data

Tuples are often used for unpacking data in assignments. This is useful for simultaneously extracting values from an iterable.

In [37]:
x, y, z = (10, 20, 30)
print(x, y, z)

10 20 30

In [ ]:
Use Cases of Sets
Removing Duplicates

Sets are commonly used to remove duplicate elements from a collection. Since sets only store unique items, any duplicates are automatically discarded.

In [33]:
#Example: Removing duplicates from a list.
items = [4, 6, 7, 4, 8 ,4 ,8, 9 ,10 ]
unique_items = set(items)
print(unique_items)

{4, 6, 7, 8, 9, 10}

# Membership Testing

Sets are optimized for membership testing, making them ideal for scenarios where you need to frequently check whether an item is present in a collection.

user = {"raj", "mohan", "parag", "shubham", "rakesh"}
print("raj" in user)

In [35]:
user = {"raj", "mohan", "parag", "shubham", "rakesh"}
print("shyam" in user)

False

# Summary
- Tuples are best for immutable, fixed collections of items, returning multiple values from functions, using as dictionary keys, and data integrity.
- Sets are ideal for collections of unique items, membership testing, removing duplicates, performing set operations, and efficient data structure usage.

# 7 . Describe how to add,modify and delete items in a dictionary with examples.
Ans : 
Dictionaries in Python are versatile data structures that store key-value pairs. They provide efficient access to data using keys, and they allow for dynamic modification of entries.

In [1]:
#Adding Items
diction = {}
diction["name"] = "raj"
diction["age"] = 28
diction["hobby"] = "cricket"
diction["state"] = "maharashtra"
print(diction)

{'name': 'raj', 'age': 28, 'hobby': 'cricket', 'state': 'maharashtra'}

In [2]:
# Modify an existing item.
diction = {'name': 'raj', 'age': 28, 'hobby': 'cricket', 'state': 'maharashtra'}
diction["hobby"] = "chess"
print(diction)

{'name': 'raj', 'age': 28, 'hobby': 'chess', 'state': 'maharashtra'}

In [4]:
# Delete an item using the `del` statement
diction = {'name': 'raj', 'age': 28, 'hobby': 'cricket', 'district' : 'chandrapur', 'state': 'maharashtra'}
del diction["state"]
print(diction)

{'name': 'raj', 'age': 28, 'hobby': 'cricket', 'district': 'chandrapur'}

In [7]:
# Delete an item using the `pop()` method
diction = {'name': 'raj', 'age': 28, 'hobby': 'cricket', 'district' : 'chandrapur', 'state': 'maharashtra'}

district = diction.pop('district')
print(diction)

{'name': 'raj', 'age': 28, 'hobby': 'cricket', 'state': 'maharashtra'}

Summary
Adding Items: Use assignment (dict[key] = value) to add new key-value pairs.
Modifying Items: Assign a new value to an existing key, or use assignment to add a new key-value pair if the key does not exist.
Deleting Items: Use del dict[key], dict.pop(key), dict.popitem(), or dict.clear() to remove items from the dictionary.

# 8.  Discuss the importance of dictionary keys being immutable and provide examples.
Ans : In Python, dictionary keys must be immutable. This requirement is crucial for maintaining the integrity and performance of dictionaries.

Importance of Immutable Keys
Hashability

Hash Function: Dictionaries in Python are implemented using hash tables. This data structure relies on hash functions to quickly access values based on their keys. A key must be immutable so its hash value remains constant over its lifetime.
Consistency: If a key were mutable, its hash value could change if the key's content changes, leading to inconsistencies in accessing values. Immutable keys guarantee that the hash value remains constant.

Immutable Keys
Immutable objects include types like integers, floats, strings, and tuples (if the tuple contains only immutable elements).

In [1]:
# Integers
group = {1: "orange", 2: "guava"}
print(group[1])

orange

In [2]:
# strings
person = {"name": "raj", "age": 28}
print(person["name"])

raj

In [4]:
# tuples
direction = {("x", 3): "point1", ("y", 6): "point2"}
print(direction[("x", 3)])

point1

#Immutability ensures stability: Immutable keys guarantee that the hash value of the key remains constant, which is essential for the dictionary's internal structure and efficient lookups.